<h4>All Jobs:</h4>
<ul>  
  <% @jobs.each do |job| %>
  <div id="job-<%= job.id %>">
    <li><strong><%= link_to job.title, job_path(job) %></strong></li>
    <li><%= link_to edit_job_path(job) do%>
      <i class="fas fa-edit"><span class="hidden">Edit</span></i>
      <% end %>
    </li>
    <li><%= link_to job_path(job), method: 'delete', id: "delete-#{job.id}" do %>
      <i class="fas fa-trash-alt"><span class="hidden">Delete</span></i>
      <% end %>
    </li>
  </div>
  <% end %>
</ul>
